body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: 333;

}
 /*Estilo cabeçalho*/
  header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;

  }
  /*         */
  .header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  /* trabalho estilo da imagem*/
  .foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid bisque;
  }

  section{
    margin: 20px;
    padding: 20px;
    background-color: white;

  }
  /* Estilização rodapé*/
  footer{
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    box-shadow: 0px,0,10,rgba(0, 0, 0, 0.1);
  }